﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">Authourization</h5>
            </div>
            <div class="styleMain">
                <div style="width:100%;height:40px;background-color:none;padding-top:10px;padding-left:1px;">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="width:10%;text-align:right;padding-top:5px;padding-right:20px;"><label>Username</label></td>
                            <td style="width:20%;text-align:left;height:25px">
                                <select style="width:100%;border:1px solid silver;height:25px">
                                    <option value="user1">user1</option>
                                    <option value="user1">user1</option>
                                    <option value="user1">user1</option>
                                </select>
                            </td>
                            <td style="width:70%;"></td>
                        </tr>
                    </table>
                </div>
                <div style="width:95%;height:430px;background-color:none;margin-left:30px;margin-top:10px;border:1px solid silver;">
                    <table class="table table-hover" style="font-size:11px;height:20px" id="tblcustomer">
                        <tr>
                            <th style="text-align: center; width: 5%;  background-color: #e6e6ff; border:1px solid silver;">#</th>
                            <th style="text-align: center; width: 40%; background-color: #e6e6ff; border: 1px solid silver;">Function</th>
                            <th style="text-align: center; width: 12%; background-color: #e6e6ff; border: 1px solid silver;">Adding</th>
                            <th style="text-align: center; width: 12%; background-color: #e6e6ff; border: 1px solid silver;">Updating</th>
                            <th style="text-align: center; width: 12%; background-color: #e6e6ff; border: 1px solid silver;">Deleting</th>
                            <th style="text-align: center; width: 12%; background-color: #e6e6ff; border: 1px solid silver;">Report</th>
                        </tr>
                    </table> 
                </div>
            </div>
            @*Control Buttons*@
            <div class="styleBarButtom">
                <div style="padding-top:0px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:2%;"></td>
                            <td style="text-align:left;width:8%;"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:70%"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

