﻿
@{
    ViewBag.Title = "ProductionOrderIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script>
         $(document).ready(function () {
            //alert("he");
            //$("#txtDocDate").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date()).val();
            //$("#txtDocDate").datepicker({ dateFormat: "dd-mm-yy" }).datepicker("setDate", new Date());
         });
         $("#txtDocDate").change(function () {
                var x = $("#txtDocDate").val().split('-');
                $("#txtDocDate").val(x[1] + "/" + x[0] + "/" + x[2]);
         });
    </script>
    <style>
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">Production Order</h5>
            </div>
            @*Document Header*@
            <div class="styleMain">
                <div style="width:50%;height:160px;background-color:none;padding-top:15px;padding-left:10px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:150px;padding-left:20px;padding-top:5px">Status</label></td>
                            <td style="width:300px">
                                <select id="cboGroup" name="BPMasterData.Group" style="height:24px ;width:300px">
                                    <option value="BP_Government">Planned</option>
                                    <option value="BP_Employee">Released</option>
                                    <option value="BP_Government">Closed</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label style="width:150px;padding-left:20px;padding-top:5px">Product No.</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                        </tr>
                        <tr>
                            <td><label style="width:150px;padding-left:20px;padding-top:5px">Product Description</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:20px;width:130px;padding-top:5px">Planned Quantity</label></td>
                            <td><input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" /></td>
                        </tr>
                        <tr>
                            <td><label style="width:150px;padding-left:20px;padding-top:5px">Warehouse</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:120px;" />
                                <label style="padding-left:10px;width:62px;padding-top:5px">Priority:</label>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:110px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:48%;height:100px;background-color:none;padding-top:15px;padding-left:110px;float:left;">
                    <table>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Order Date</label></td>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:300px" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Start Date</label></td>
                            <td><input type="text" id="txtTaxDate" data-provide="datepicker" value="" name="GoodsReceipt.TaxDate" style="width:300px" onclick="onchange()" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Due Date</label></td>
                            <td><input type="text" id="txtTaxDate" data-provide="datepicker" value="" name="GoodsReceipt.TaxDate" style="width:300px" onclick="onchange()" /> </td>
                        </tr>
                        <tr>
                            <td><label style="width:130px;padding-left:10%;padding-top:5px">User</label></td>
                            <td style="width:300px">
                                <select id="cboGroup" name="BPMasterData.Group" style="height:24px ;width:300px">
                                    <option value="BP_Government">None</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Project</label></td>
                            <td><input type="text" id="txtTaxDate" data-provide="datepicker" value="" name="GoodsReceipt.TaxDate" style="width:300px" onclick="onchange()" /> </td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%;height:300px;background-color:WhiteSmoke;padding-left:30px;overflow:auto;">
                    <div style="margin-top:5px;">
                        <h5 style="padding-left:0px;font-size:16px;">Contents</h5>
                    </div>
                    <div style="padding-top:1px;width:98%;height:250px;border:1px solid silver;padding-left:1px">
                        <table class="table table-hover" style="font-size:11px;width:100%;" id="tblcustomer">
                            <tr>
                                <th style="text-align: center; width: 3%;  background-color: #e6e6ff; border:1px solid silver;">#</th>
                                <th style="text-align: center; width: 10%; background-color: #e6e6ff; border: 1px solid silver;">Item Code</th>
                                <th style="text-align: center; width: 30%; background-color: #e6e6ff; border: 1px solid silver;">Description</th>
                                <th style="text-align: center; width: 7%; background-color: #e6e6ff; border: 1px solid silver;">Base Qty</th>
                                <th style="text-align: center; width: 7%; background-color: #e6e6ff; border: 1px solid silver;">Base Ratio</th>
                                <th style="text-align: center; width: 9%; background-color: #e6e6ff; border: 1px solid silver;">Planned Qty</th>
                                <th style="text-align: center; width: 7%; background-color: #e6e6ff; border: 1px solid silver;">Available</th>
                                <th style="text-align: center; width: 9%; background-color: #e6e6ff; border: 1px solid silver;">UoM Name</th>
                                <th style="text-align: center; width: 10%; background-color: #e6e6ff; border: 1px solid silver;">Warehouse</th>
                                <th style="text-align: center; width: 15%; background-color: #e6e6ff; border: 1px solid silver;">Remark</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width:50%;height:30px;background-color:none;padding-top:1px;padding-left:4px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:100px;padding-left:23px;padding-top:5px">Remark</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:48%;height:30px;background-color:none;padding-top:1px;padding-left:110px;float:left;">
                    <table>
                        <tr>
                            <td><label style="padding-left:60%;width:250px;padding-top:5px">Product Price</label></td>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:185px" /> </td>
                        </tr>
                    </table>
                </div>
            </div>
            @*Control Buttons*@
            <div class="styleBarButtom">
                <div style="padding-top:0px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:2%;"></td>
                            <td style="text-align:left;width:8%;"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:70%"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
