﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/Scripts/jquery-1.11.0.min.js")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/css.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    <script>
        $(document).ready(function () {
            $("#btnOk").click(function () {
                var baseUrl="@Url.Action("WelcomeIndex", "Welcome")";
                window.location.href = baseUrl;
            });
        });
        function exitWindows() {
            alert("Hi");
        }
    </script>
    <style>
        .LogInWindows {
            width: 40%;
            height: 400px;
            border: 0px solid black;
            background-color: none;
            margin-top: 6%;
            text-align: left;
            text-decoration-style: solid;
        }

        .BarTitle {
            width: 100%;
            height: 24px;
            border-bottom: 1px solid black;
            background-color: gainsboro;
            text-align: left;
        }

        .tilteWindows {
            width: 94%;
            height: 24px;
            text-align: left;
            padding-top: 3px;
            padding-left: 2px;
            font-size: 13px;
            float: left;
        }

        .exitIcon {
            width: 5%;
            height: 24px;
            float: left;
        }

        .contactWin {
            width: 100%;
            height: 90%;
            border-bottom: 0px solid black;
            background-color: whitesmoke;
            text-align: left;
            border-radius: 5px;
        }
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">Choose Database</h5>
            </div>
            @*Document Header*@
            <div class="styleMain">
                <div style="width:50%;height:100px;background-color:none;padding-top:15px;padding-left:10px;float:left;">
                    <div class="contactWin">
                        <div style="padding-left:23px;padding-top:20px;">
                            The list of Database
                        </div>
                        <center>
                            <div style="width:90%;height:200px;background-color:none;margin-top:5px;border:1px solid silver;">
                                <table class="tablenoborder table-hover;" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; width: 50%;height:20px;border:1px solid silver;background-color:none;font-size:14px;">Company Name</th>
                                            <th style="text-align: center; width: 50%;height:20px;border:1px solid silver;background-color:none;font-size:14px;">Database Name</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </center>
                        <div style="width:98%;padding-top:10px;">
                            <table style="font-size:13px;width:108%;">
                                <tr>
                                    <td style="text-align:left;width:100%;padding-left:30px;padding-top:3px;">
                                        <label style="width:100px">Username</label>
                                        <input type="text" id="txtUsername" style="width:70%;" maxlength="15" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;width:100%;padding-left:30px;padding-top:3px;">
                                        <label style="width:100px">Password</label>
                                        <input type="password" id="txtUsername" style="width:70%;" maxlength="8" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="width:30%;padding-top:10px;padding-right:10px;margin-left:340px;">
                            <table style="font-size:13px;width:100%;">
                                <tr>
                                    <td style="width:60%; padding-left:10px"><input type="button" value="Ok" id="btnOk" style="width:90%; background-color:NavajoWhite" /></td>
                                    <td style="width:60%"><input type="button" value="Cancel" id="btnCancel" style="width:120%;background-color:NavajoWhite" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>                                                                 
        </div>
    </div>
</body>

@*<body>
    <div class="styleContact" style="background:white">
        <div class="styleSubContact" style="height:300px;">
            <div style="width:100%;margin-top:100px;">
                <center>
                    <div class="LogInWindows">
                        <div class="BarTitle">
                            <div class="tilteWindows">
                                Choose Database
                            </div>
                            <div class="exitIcon" style="padding-right:1px"><img src="../Image/exit_Login.png" style="width:24px;height:24px;cursor:pointer;" onclick="exitWindows()"></div>
                        </div>
                        <div class="contactWin">
                            <div style="padding-left:23px;padding-top:20px;">
                                The list of Database
                            </div>
                            <center>
                                <div style="width:90%;height:200px;background-color:none;margin-top:5px;border:1px solid silver;">
                                    <table class="tablenoborder table-hover;" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; width: 50%;height:20px;border:1px solid silver;background-color:none;font-size:14px;">Company Name</th>
                                            <th style="text-align: center; width: 50%;height:20px;border:1px solid silver;background-color:none;font-size:14px;">Database Name</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </center>
                        <div style="width:98%;padding-top:10px;">
                            <table style="font-size:13px;width:108%;">
                                <tr>
                                    <td style="text-align:left;width:100%;padding-left:30px;padding-top:3px;">
                                        <label style="width:100px">Username</label>
                                        <input type="text" id="txtUsername" style="width:70%;" maxlength="15" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;width:100%;padding-left:30px;padding-top:3px;">
                                        <label style="width:100px">Password</label>
                                        <input type="password" id="txtUsername" style="width:70%;" maxlength="8" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="width:30%;padding-top:10px;padding-right:10px;margin-left:340px;">
                            <table style="font-size:13px;width:100%;">
                                <tr>
                                    <td style="width:30%; padding-left:30px"><input type="button" value="Ok" id="btnOk" style="width:80%; background-color:NavajoWhite" /></td>
                                    <td style="width:30%"><input type="button" value="Cancel" id="btnCancel" style="width:60%;background-color:NavajoWhite" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                </center>
            </div>
        </div>
    </div>
</body>*@

