﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    <style>
        .styleContact {
            width:1138px;
            height: 630px;
            background-color: floralwhite;
            border: 1px solid silver;
            margin-top: 20px;
            margin-left: 228px;
        }
        .styleSubContact {
            width: 100%;
            margin-top:52px;
            height: 567px;
            background-color: none;
        }
        .styleHeader {
            width: 100%;
            height: 25px;
            background-color: aliceblue;
            border-bottom: 1px solid white;
        }

        .styleMain {
            width: 100%;
            height: 500px;
            background-color: ghostwhite;
        }
        .styleBarButtom {
            width: 100%;
            height: 42px;
            background-color: ghostwhite;
        }
        .myBar1Style {
            width: 4%;
            height: 24px;
            background-color: none;
            padding-left: 14px;
            padding-top: 4px;
            border-right: 0px solid blanchedalmond;
            float: left;
        }

        .myIconBarStyle {
            width: 4%;
            height: 45px;
            background-color: none;
            padding-left: 1px;
            padding-top: 0px;
            border-right: 1px solid white;
            float: left;
        }

        .myIconBarStyle:hover {
            background-color: whitesmoke;
            color: blue;
            cursor: pointer;
        }

        .myUlBarStyle {
            width: 100%;
            height: 45px;
            background-color: none;
            padding-left: 14px;
            padding-top: 4px;
            border-bottom: 1px solid white;
        }

        a.myLinkStyle {
            text-decoration-line: none;
            border-bottom:1px solid silver;
        }

        .myBar1Style:hover {
            background-color: whitesmoke;
            color: blue;
            cursor: pointer;
        }

        div {
            /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;*/
            font-size: 12px;
        }

        .navbar-fixed-top {
            width: 100%;
            height: 75px;
            background-color: aliceblue;
            margin-bottom: 1px;
            overflow: auto;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }

        .navbar-left {
            width: 17%;
            height: 596px;
            background-color: aliceblue;
            margin-top: 24px;
            border-right: 2px solid white;
        }

        .navbar-fixed-bottom {
            width: 100%;
            height: 27px;
            background-color: blanchedalmond;
            margin-top: 0px;
            overflow: auto;
            border-top: 1px solid silver;
        }

        .dropdown {
            width: 100%;
            border-bottom: 1px solid white;
        }

        .dropdown-toggle {
            width: 100%;
        }

        #nav ul {
            position: absolute;
            padding: 0;
            left: 0;
            display: none; /* hides sublists */
        }
        #nav li:hover ul ul {
            display: none;
        }
        /* hides sub-sublists */
        #nav li:hover ul {
            display: block;
        }
        /* shows sublist on hover */
        #nav li li:hover ul {
            display: block; /* shows sub-sublist on hover */
            margin-left: 200px; /* this should be the same width as the parent list item */
            margin-top: -35px; /* aligns top of sub menu with top of list item */
        }
    </style>
</head>
<body>
    <div>
        @* TOP BAR *@
        <div class="navbar-fixed-top">
            <div style="width:100%;height:25px;background-color:darkgray;margin-top:0px;overflow:auto;border-bottom:0px solid white;">
                <div class="myBar1Style">
                    <a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle" style="border-bottom:0px solid silver;">File</a>
                </div>
                <div class="myBar1Style">
                    <a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle" style="border-bottom:0px solid silver;">View</a>
                </div>
                <div class="myBar1Style">
                    <a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle" style="border-bottom:0px solid silver;">Tool</a>
                </div>
                <div class="myBar1Style">
                    <a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle" style="border-bottom:0px solid silver;">help</a>
                </div>
            </div>
            <div style="width:100%;height:47px;background-color:aliceblue;margin-top:0px;overflow:auto;border-top:1px solid white;border-bottom:0px solid white;">
                <div class="myIconBarStyle">
                    <img src="../Image/exit_Login.png" style="width:99%;height:44px;" onclick="exitWindows()">
                </div>
            </div>
        </div>
        @* LEFT BAR *@
        <div class="navbar-left">
            <ul class="nav navbar-nav" id="nav" style="width:100%;">
                <li class="dropdown" style="margin-top:30px;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrator<b style="padding-left:110px;"></b><b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                        <li style="width:100%;"><a href="@Url.Action("DBLocationIndex", "DBLocation")" class="myLinkStyle">Change Database Company</a></li>
                        <li style="width:100%;"><a href="@Url.Action("UserControlIndex", "UserControl")" class="myLinkStyle">User Control</a></li>
                        <li style="width:100%;"><a href="@Url.Action("AuthourizeIndex", "Authourize")" class="myLinkStyle">General Authourize</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">BP Master Data<b style="padding-left:98px;"></b><b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                        <li style="width:100%;"><a href="@Url.Action("CustomerIndex", "Customer")" class="myLinkStyle">Customer</a></li>
                        <li style="width:100%;"><a href="@Url.Action("BPReportIndex", "BPReport")" class="myLinkStyle">Business Partner Report</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory<b style="padding-left:133px;"></b><b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-40px;background-color:aliceblue;">
                        <li style="width:100%;"><a href="@Url.Action("ITMIndex", "ITM")" class="myLinkStyle">Item Master Data</a></li>
                        <li class="dropdown" style="border-bottom: 0px solid white;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory Transaction<b style="padding-left:50px;"></b><b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                                <li style="width:100%;"><a href="@Url.Action("GoodsReceiptIndex", "GoodsReceipt")" class="myLinkStyle">Goods Receipt</a></li>
                                <li style="width:100%;"><a href="@Url.Action("GoodsIssueIndex", "GoodsIssue")" class="myLinkStyle">Goods Issue</a></li>
                                <li style="width:100%;"><a href="@Url.Action("TransferIndex", "Transfer")" class="myLinkStyle">Inventory Transfer</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sale<b style="padding-left:157px;"></b><b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Sale Order</a></li>
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Delivery</a></li>
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">AR Invoice</a></li>
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Sale Report</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Purchase<b style="padding-left:130px;"></b><b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Purchase Order</a></li>
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Goods Receipt PO</a></li>
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">AP Invoice</a></li>
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Purchase Report</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cash Transcac<b style="padding-left:100px;"></b><b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Incomming</a></li>
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Outgoing</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Production<b style="padding-left:123px;"></b><b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                        <li style="width:100%;"><a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle">Bill Of Materials</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        @* BOTTOM BAR *@
        <div class="navbar-fixed-bottom">
            <div style="width:230px;height:26px;background-color:none;margin-left:0px;overflow:auto;float:left;text-align:center;padding-top:5px;" >
                Group 3
            </div>
            <div style="width:80%;height:26px;background-color:none;margin-left:0px;overflow:auto;border-left:1px solid white;text-align:center;padding-top:5px;">
                @DateTime.Now
            </div>
        </div>
    </div>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
