﻿
@{
    ViewBag.Title = "LogInIndex";
    Layout = null;
    @Scripts.Render("~/Scripts/jquery-1.11.0.min.js")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/css.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    <script>
        $(document).ready(function () {
            $("#btnOk").click(function () {
                var baseUrl="@Url.Action("WelcomeIndex", "Welcome")";
                window.location.href = baseUrl;
            });
        });
        function exitWindows() {
            alert("Hi");
        }
    </script>
    <style>
        .LogInWindows {
            width: 40%;
            height: 400px;
            border: 0px solid black;
            background-color: none;
            margin-top: 6%;
            text-align: left;
        }

        .BarTitle {
            width: 100%;
            height: 24px;
            border-bottom: 1px solid black;
            background-color: cadetblue;
            text-align: left;
        }

        .tilteWindows {
            width: 94%;
            height: 24px;
            text-align: left;
            padding-top: 3px;
            padding-left: 2px;
            font-size: 13px;
            float: left;
        }

        .exitIcon {
            width: 5%;
            height: 24px;
            float: left;
        }

        .contactWin {
            width: 100%;
            height: 87%;
            border-bottom: 0px solid black;
            background-color: gainsboro;
            text-align: left;
        }
    </style>
}
<body style="background-color:aliceblue;">
    <center>
        <div class="LogInWindows">
            <div class="BarTitle">
                <div class="tilteWindows">
                    Choose Database
                </div>
                <div class="exitIcon"><img src="../Image/exit_Login.png" style="width:106%;height:24px;cursor:pointer;" onclick="exitWindows()"></div>
            </div>
            <div class="contactWin">
                <div style="padding-left:10px;padding-top:20px;">
                    The list of Database
                </div>
                <center>
                    <div style="width:70%;height:200px;background-color:none;margin-top:5px;border:1px solid midnightblue;">
                        <table style="font-size:15px;width:100%;border:1px solid midnightblue;border-collapse: collapse;" id="tblDatabaseName">
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 50%;border:1px solid midnightblue;background-color:beige;">Company Name</th>
                                    <th style="text-align: center; width: 50%;border:1px solid midnightblue;background-color:beige;">Database Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </center>
                <center>
                    <div style="width:98%;padding-top:20px;">
                        <table style="font-size:13px;width:90%;">
                            <tr>
                                <td style="text-align:left;width:15%;padding-left:5px;padding-top:3px;"><label>Username</label></td>
                                <td style="text-align:left;width:25%;padding-left:0px;"><input type="text" id="txtUsername" style="width:100%;" maxlength="15" /></td>
                                <td style="text-align:right;width:23%;padding-right:10px;padding-top:3px;"><label>Password</label></td>
                                <td style="text-align:left;width:25%;padding-left:0px;"><input type="password" id="txtUsername" style="width:100%;" maxlength="8" /></td>
                                <td style="text-align:left;width:2%;padding-left:0px;"></td>
                            </tr>
                        </table>
                    </div>
                </center>
                <div style="width:40%;padding-top:20px;padding-right:10px;margin-left:295px;">
                    <table style="font-size:13px;width:100%;">
                        <tr>
                            <td style="width:40%"><input type="button" value="Ok" id="btnOk" style="width:100%" /></td>
                            <td style="width:20%"></td>
                            <td style="width:40%"><input type="button" value="Cancel" id="btnCancel" style="width:100%" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </center>
</body>
