﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script>
         $(document).ready(function () {
        //alert("he");
        //$("#txtBirthday").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date()).val();
        //$("#txtdocumentdate").datepicker({ dateFormat: "dd-mm-yy" }).datepicker("setDate", new Date());
        });
        //function loadcustomer() {
        //    $("#customerlist").modal("show");
        //}
    </script>

    <style>
    </style>
}

<body>
    @*Customer List*@
    <div class="modal fade" id="customerlist" role="dialog">
        <div class="modal-dialog modal-lg" id="dvmodal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Customer Information</h4>
                </div>
                <div class="modal-body" style="height:500px;overflow:auto;padding-top:2px;">
                    <table class="table table-hover" style="font-size:11px;" id="tblcustomer">
                        <tr style="height:40px;">
                            <td style="border:none;">Find</td>
                            <td colspan="4" style="border:none;"><input type="text" id="txtfindcustomer" style="width:100%" /></td>
                        </tr>
                        <tr>
                            <th style="text-align: center; width: 5%; background-color: #e6e6ff; border:1px solid silver;">#</th>
                            <th style="text-align: center; width: 15%; background-color: #e6e6ff; border: 1px solid silver;">Customer Code</th>
                            <th style="text-align: center; width: 55%; background-color: #e6e6ff; border: 1px solid silver;">Customer Name</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;height:21px; border:1px solid silver;">1</th>
                            <th style="text-align: center;height:21px; border:1px solid silver"></th>
                            <th style="text-align: center;height:21px; border:1px solid silver"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">Inventory Transfer</h5>
            </div>
            @*Document Header*@
            <div class="styleMain">
                <div style="width:50%;height:100px;background-color:none;padding-top:15px;padding-left:10px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:130px;padding-left:20px;padding-top:5px">Business Partner</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                            <td style='float:right;padding-top:3px'><img src='../Image/customer.png' id="customer" style='width:20px;height:20px;cursor:pointer' name='customer' data-toggle="modal" data-target="#customerlist"/></td>
                        </tr>
                        <tr>
                            <td><label style="width:130px;padding-left:20px;padding-top:5px">Name</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:48%;height:150px;background-color:none;padding-top:15px;padding-left:110px;float:left;">
                    <table>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Posting Date</label></td>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:300px" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Document Date</label></td>
                            <td><input type="text" id="txtTaxDate" data-provide="datepicker" value="" name="GoodsReceipt.TaxDate" style="width:300px" onclick="onchange()" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Doc Ref.</label></td>
                            <td><input type="text" id="txtDocRef" value="" name="GoodsReceipt.DocRef" style="width:300px" /> </td>
                        </tr>
                        <tr style="height:20px"></tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">From Warehouse</label></td>
                            <td><input type="text" id="txtTaxDate" data-provide="datepicker" value="" name="GoodsReceipt.TaxDate" style="width:300px" onclick="onchange()" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">To Warehouse</label></td>
                            <td><input type="text" id="txtDocRef" value="" name="GoodsReceipt.DocRef" style="width:300px" /> </td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%;height:280px;background-color:WhiteSmoke;padding-left:30px;overflow:auto;">
                    <div style="margin-top:5px;">
                        <h5 style="padding-left:0px;font-size:16px;">Contents</h5>
                    </div>
                    <div style="padding-top:1px;width:98%;height:230px;border:1px solid silver;padding-left:1px">
                        <table class="table table-hover" style="font-size:11px;height:20px;width:100%;" id="tblcustomer">
                            <tr>
                                <th style="text-align: center; width: 3%;  background-color: #e6e6ff; border:1px solid silver;">#</th>
                                <th style="text-align: center; width: 10%; background-color: #e6e6ff; border: 1px solid silver;">Item Code</th>
                                <th style="text-align: center; width: 30%; background-color: #e6e6ff; border: 1px solid silver;">Description</th>
                                <th style="text-align: center; width: 7%; background-color: #e6e6ff; border: 1px solid silver;">Quantity</th>
                                <th style="text-align: center; width: 9%; background-color: #e6e6ff; border: 1px solid silver;">Price</th>
                                <th style="text-align: center; width: 9%; background-color: #e6e6ff; border: 1px solid silver;">Line Total</th>
                                <th style="text-align: center; width: 10%; background-color: #e6e6ff; border: 1px solid silver;">Warehouse</th>
                                <th style="text-align: center; width: 15%; background-color: #e6e6ff; border: 1px solid silver;">Remark</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width:50%;height:30px;background-color:none;padding-top:1px;padding-left:4px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:100px;padding-left:23px;padding-top:5px">Remark</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:48%;height:30px;background-color:none;padding-top:1px;padding-left:110px;float:left;">
                    <table>
                        <tr>
                            <td><label style="padding-left:70%;width:250px;padding-top:5px">Doc. Total</label></td>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:185px" /> </td>
                        </tr>
                    </table>
                </div>
            </div>
            @*Control Buttons*@
            <div class="styleBarButtom">
                <div style="padding-top:0px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:2%;"></td>
                            <td style="text-align:left;width:8%;"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:70%"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

