﻿
@{
    ViewBag.Title = "WelcomeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleMain" style="height:100%; background-color:white">
                <center>
                    <h2 style="padding-top:10%;">
                        <img src="../Image/HomeProcess.png" style="width:150px;height:150px;"/>
                        TC Stand for Transaction Control
                    </h2>
                </center>
            </div>
        </div>
    </div>

