﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    <style>
        .styleContact {
            width:1135px;
            height: 650px;
            background-color: floralwhite;
            border: 1px solid white;
            margin-top: 3px;
            margin-left: 228px;
        }

        .styleSubContact {
            width: 100%;
            margin-top:73px;
            height: 590px;
            background-color: none;
        }
        
        .styleHeader {
            width: 100%;
            height: 30px;
            background-color: Gainsboro;
            border-radius: 6px;
            border-bottom:1px solid silver;
        }
        
        .styleMain {
            width: 100%;
            height: 500px;
            background-color: WhiteSmoke;
        }
        
        .styleBarButtom {
            width: 100%;
            height: 42px;
            background-color: WhiteSmoke;
        }
        
        .myBar1Style {
            width: 4%;
            height: 24px;
            background-color: none;
            padding-left: 14px;
            padding-top: 4px;
            border-right: 0px solid blanchedalmond;
            float: left;
        }
        
        .myIconBarStyle {
            width: 3%;
            height: 45px;
            background-color: none;
            padding-left: 1px;
            padding-top: 10px;
            /*border-right: 1px solid white;*/
            float: left;
        }
        
        .myIconBarStyle:hover {
            background-color: whitesmoke;
            color: blue;
            cursor: pointer;
        }
        
        .myUlBarStyle {
            width: 100%;
            height: 45px;
            background-color: none;
            padding-left: 14px;
            padding-top: 4px;
            border-bottom: 1px solid white;
        }
        
        a.myLinkStyle {
            text-decoration-line: none;
            border-bottom:1px solid silver;
            border-radius:5px;
        }

        .myBar1Style:hover {
            background-color: whitesmoke;
            color: blue;
            cursor: pointer;
        }

        div {
            /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;*/
            font-size: 12px;
        }

        .navbar-fixed-top {
            width: 100%;
            height: 75px;
            background-color: aliceblue;
            margin-bottom: 1px;
            overflow: auto;
            border-top: 1px solid silver;
            border-bottom: 1px solid silver;
        }

        .navbar-left {
            width: 228px;
            height: 650px;
            background-color:WhiteSmoke; /*#E7EEEF*/
            margin-top: 1px;
            /*border-right: 2px solid white;*/
        }

        .navbar-fixed-bottom {
            width: 100%;
            height: 27px;
            background-color:blanchedalmond; /*blanchedalmond;*/
            margin-top: 0px;
            overflow: auto;
            border-top: 1px solid silver;
        }

        .dropdown {
            width: 100%;
            border-bottom: 1px solid white;
            border-radius:2px;
        }

        .dropdown-toggle {
            width: 100%;
        }

        #nav ul {
            position: absolute;
            padding: 0;
            left: 0;
            display: none; /* hides sublists */
        }

        #nav li:hover ul ul {
            display: none;
        }
        /* hides sub-sublists */
        #nav li:hover ul {
            display: block;
        }
        /* shows sublist on hover */
        #nav li li:hover ul {
            display: block; /* shows sub-sublist on hover */
            margin-left: 200px; /* this should be the same width as the parent list item */
            margin-top: -35px; /* aligns top of sub menu with top of list item */
        }
        img:hover{
            border: 1px solid white;
            border: -2px
        }
    </style>
</head>
<body>
    <div>
        @* TOP BAR *@
        <div class="navbar-fixed-top">
            <div style="width:100%;height:25px;background-color:ghostwhite;margin-top:0px;overflow:auto;border-bottom:0px solid white;">
                <div class="myBar1Style">
                    <a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle" style="border-bottom:0px solid silver;">File</a>
                </div>
                <div class="myBar1Style">
                    <a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle" style="border-bottom:0px solid silver;">View</a>
                </div>
                <div class="myBar1Style">
                    <a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle" style="border-bottom:0px solid silver;">Tool</a>
                </div>
                <div class="myBar1Style">
                    <a href="@Url.Action("WelcomeIndex", "Welcome")" class="myLinkStyle" style="border-bottom:0px solid silver;">help</a>
                </div>
            </div>
            <div class="nav navbar-nav" style="width:100%;height:47px;background-color:WhiteSmoke;margin-top:0px;overflow:auto;border-top:1px solid silver;padding-left:10px">
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Preview">
                        <img src="../Image/Preview.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Print">
                        <img src="../Image/Print.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Ms. Word">
                        <img src="../Image/Word.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Ms. Excel">
                        <img src="../Image/Excel.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Lock Screen">
                        <img src="../Image/Lock.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Form Setting">
                        <img src="../Image/FormSetting.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Calender">
                        <img src="../Image/Calender.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="User Configure">
                        <img src="../Image/UserConfig.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Messages">
                        <img src="../Image/Message.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Add Mode">
                        <img src="../Image/AddMode.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                <div class="myIconBarStyle">
                    <a href="#" data-toggle="tooltib" title="Find Mode">
                        <img src="../Image/FindMode.png" style="width:23px;height:23px;" onclick="exitWindows()">
                    </a>
                </div>
                @*<div style="float:right;padding-right:30px;width:50%;padding-top:8px">
                    <div class="myIconBarStyle">
                        <a href="#" data-toggle="tooltib" title="Find Mode">
                            <img src="../Image/Search.png" style="width:23px;height:23px;" onclick="exitWindows()">
                        </a>
                    </div>
                    <table style="float:right;width:27%;height:30px;">
                        <tr>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:185px" /> </td>  
                            <td style="width: 23%; text-align: left; border: none">
                                <button id="cmdfirst" style="width:90%;height:25px" type="button" class="btn btn-info" value="first" name="btnaction"><i class="fa fa-step-forward"></i></button>
                            </td>
                            <td style="width: 23%; text-align: left; border: none">
                                <button id="cmdpre" style="width:90%;height:25px" type="button" class="btn btn-info" value="pre" name="btnaction"><i class="fa fa-caret-left"></i></button>
                            </td>
                            <td style="width: 23%; text-align: left; border: none">
                                <button id="cmdnext" style="width:90%;height:25px" type="button" class="btn btn-info" value="next" name="btnaction"><i class="fa fa-caret-right"></i></button>
                            </td>
                            <td style="width: 23%; text-align: left; border: none">
                                <button id="cmdlast" style="width:90%;height:25px" type="button" class="btn btn-info" value="last" name="btnaction"><i class="fa fa-step-forward"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>*@
            </div>
        </div>
        @* LEFT BAR *@
        <div class="navbar-left" style="border-radius: 6px; padding-top:0px;">
            <div class="styleSubContact" style="border-right:1px solid silver;">
                <div class="styleHeader" style="border-bottom:1px solid silver;border-radius: 6px;">
                    <h5 style="padding-top:5px;padding-left:5px;">Main Menu</h5>
                </div>
                <div style="text-align:center">== Testing Database ==</div>
                <div style="text-align:center">manager</div>
                <div style="width:95%; padding-left:5%;">
                    <ul class="nav navbar-nav" id="nav" style="width:100%;background-color:Beige;margin-top:10px; height:450px">
                        <li class="dropdown" style="background-color:PowderBlue">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:bold">
                                <img src="../Image/Administrator.png" style="width:23px;height:23px;" onclick="exitWindows()">
                                    Administrator<b style="padding-left:55px;"></b><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                                <li style="width:100%;"><a href="@Url.Action("DBLocationIndex", "DBLocation")" class="myLinkStyle">
                                    @*<img src="../Image/FindMode.png" style="width:23px;height:23px;" onclick="exitWindows()">*@Change Database Company</a>
                                </li>
                                <li style="width:100%;"><a href="@Url.Action("UserControlIndex", "UserControl")" class="myLinkStyle">
                                    @*<img src="../Image/FindMode.png" style="width:23px;height:23px;" onclick="exitWindows()">*@User Control</a>
                                </li>
                                <li style="width:100%;"><a href="@Url.Action("AuthourizeIndex", "Authourize")" class="myLinkStyle">General Authourize</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="background-color:PowderBlue">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:bold">
                                <img src="../Image/BPPartner.png" style="width:23px;height:23px;" onclick="exitWindows()">
                                Business Partners<b style="padding-left:28px;"></b><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                                <li style="width:100%;"><a href="@Url.Action("CustomerIndex", "Customer")" class="myLinkStyle">BP Master Data</a></li>
                                <li style="width:100%;"><a href="@Url.Action("BPReportIndex", "BPReport")" class="myLinkStyle">Business Partner Report</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="background-color:PowderBlue">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:bold">
                                <img src="../Image/Inventory.png" style="width:23px;height:23px;" onclick="exitWindows()">
                                Inventory<b style="padding-left:80px;"></b><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" style="width:110%;margin-left:95%;margin-top:-40px;background-color:aliceblue;">
                                <li style="width:100%;"><a href="@Url.Action("ITMIndex", "ITM")" class="myLinkStyle">Item Master Data</a></li>
                                <li class="dropdown" style="border-bottom: 0px solid white;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory Transaction<b style="padding-left:50px;"></b><b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                                        <li style="width:100%;"><a href="@Url.Action("GoodsReceiptIndex", "GoodsReceipt")" class="myLinkStyle">Goods Receipt</a></li>
                                        <li style="width:100%;"><a href="@Url.Action("GoodsIssueIndex", "GoodsIssue")" class="myLinkStyle">Goods Issue</a></li>
                                        <li style="width:100%;"><a href="@Url.Action("TransferIndex", "Transfer")" class="myLinkStyle">Inventory Transfer</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" style="background-color:PowderBlue">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:bold">
                                <img src="../Image/Sales.png" style="width:23px;height:23px;" onclick="exitWindows()">
                                Sales<b style="padding-left:102px;"></b><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                                <li style="width:100%;"><a href="@Url.Action("SalesOrderIndex", "SalesOrder")" class="myLinkStyle">Sale Order</a></li>
                                <li style="width:100%;"><a href="@Url.Action("DeliveryIndex", "Delivery")" class="myLinkStyle">Delivery</a></li>
                                <li style="width:100%;"><a href="@Url.Action("ARInvoiceIndex", "ARInvoice")" class="myLinkStyle">AR Invoice</a></li>
                                <li style="width:100%;"><a href="@Url.Action("ARCreditMemoIndex", "ARCreditMemo")" class="myLinkStyle">AR Credit Memo</a></li>
                                <li style="width:100%;"><a href="@Url.Action("SalesReportIndex", "SalesReport")" class="myLinkStyle">Sale Report</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="background-color:PowderBlue">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:bold">
                                <img src="../Image/Purchasing.png" style="width:23px;height:23px;" onclick="exitWindows()">
                                Purchasing<b style="padding-left:68px;"></b><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                                <li style="width:100%;"><a href="@Url.Action("PurchaseOrderIndex", "PurchaseOrder")" class="myLinkStyle">Purchase Order</a></li>
                                <li style="width:100%;"><a href="@Url.Action("GRPOIndex", "GRPO")" class="myLinkStyle">Goods Receipt PO</a></li>
                                <li style="width:100%;"><a href="@Url.Action("APInvoiceIndex", "APInvoice")" class="myLinkStyle">AP Invoice</a></li>
                                <li style="width:100%;"><a href="@Url.Action("APCreditMemoIndex", "APCreditMemo")" class="myLinkStyle">AP Credit Memo</a></li>
                                <li style="width:100%;"><a href="@Url.Action("PurchaseReportIndex", "PurchaseReport")" class="myLinkStyle">Purchase Report</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="background-color:PowderBlue">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:bold">
                                <img src="../Image/CashTransaction.png" style="width:23px;height:23px;" onclick="exitWindows()">
                                Cash Transaction<b style="padding-left:34px;"></b><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                                <li style="width:100%;"><a href="@Url.Action("IncomingIndex", "Incoming")" class="myLinkStyle">Incomming Payments</a></li>
                                <li style="width:100%;"><a href="@Url.Action("OutgoingIndex", "Outgoing")" class="myLinkStyle">Outgoing Payments</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="background-color:PowderBlue">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:bold">
                                <img src="../Image/Production.png" style="width:23px;height:23px;" onclick="exitWindows()">
                                Production<b style="padding-left:70px;"></b><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" style="width:100%;margin-left:95%;margin-top:-20px;background-color:aliceblue;">
                                <li style="width:100%;"><a href="@Url.Action("BOMIndex", "BOM")" class="myLinkStyle">Bill Of Materials</a></li>
                                <li style="width:100%;"><a href="@Url.Action("ProductionOrderIndex", "ProductionOrder")" class="myLinkStyle">Production Order</a></li>
                                <li style="width:100%;"><a href="@Url.Action("ReceiptFromProductionIndex", "ReceiptFromProduction")" class="myLinkStyle">Receipt From Production</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @* BOTTOM BAR *@
        <div class="navbar-fixed-bottom">
            <div style="width:225px;height:26px;background-color:none;margin-left:0px;overflow:auto;float:left;text-align:center;padding-top:5px;">
                Group 3
            </div>
            <div style="width:80%;height:26px;background-color:none;margin-left:0px;overflow:auto;border-left:1px solid white;text-align:center;padding-top:5px;">
                @DateTime.Now
            </div>
        </div>
    </div>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
