﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            <h1>Goods Issue</h1>
        </div>
    </div>
</body>

