﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @*@Scripts.Render("~/Scripts/jquery-ui.js")
    @Styles.Render("~/Content/jquery-ui.css")*@
<script>
    $(document).ready(function () {
        //alert("he");
        //$("#txtBirthday").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date()).val();
        //$("#txtdocumentdate").datepicker({ dateFormat: "dd-mm-yy" }).datepicker("setDate", new Date());
    });
    function btnOk_Onclick() {
        $("#customerlist").modal("hide");
    }
    function btnCancel_Onclick() {
        $("#customerlist").modal("hide");
    }
</script>
    <style>
    </style>
}
<body>
    <div class="modal fade" id="customerlist" role="dialog">
        <div class="modal-dialog modal-lg" id="dvmodal">
            <div class="modal-content" style="width:90%; height:400px">
                <div class="modal-header" style="height:30px;padding-top:5px; background-color:Gainsboro;border-bottom: 1px solid silver;border-radius:6px">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Customer Information</h5>
                </div>
                <div class="modal-body" style="height:500px;overflow:auto;padding-top:2px;">
                    <div style="height:5%"></div>
                    <h6>Choose a new password that complies with your company's password policy</h6>
                    <h6>The password must contain:</h6>
                    <h6>Minimum of 4 Characters in Length.</h6>
                    <div style="height:100px; padding-top:40px">
                        <table>
                            <tr>
                                <td><label style="width:200px;padding-left:20px;padding-top:5px">Example Password</label></td>
                                <td style="width:200px"><input type="text" id="password" value="abcd" name="Password.password" style="width:100%;height:22px" readonly disabled /></td>
                            </tr>
                        </table>
                    </div>
                    <div style="height:100px; padding-top:40px">
                        <table>
                            <tr>
                                <td><label style="width:200px;padding-left:20px;padding-top:5px">Password</label></td>
                                <td style="width:200px"><input type="text" id="password" value="" name="Password.password" style="width:100%;height:22px" /></td>
                            </tr>
                            <tr>
                                <td><label style="width:200px;padding-left:20px;padding-top:5px">Confirm</label></td>
                                <td style="width:200px"><input type="text" id="Confirm" value="" name="Password.password" style="width:100%;height:22px" /></td>
                            </tr>
                        </table>
                    </div>
                    <div style="height:50px; padding-top:20px">
                        <table>
                            <tr>
                                <td style="padding-left:20px;width:80px">
                                    <input type="button" id="btnOk" value="OK" style="width:100%;height:21px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" onclick="btnOk_Onclick()"/>
                                </td>
                                <td style="padding-left:15px;width:80px">
                                    <input type="button" id="btnCancel" value="Cancel" style="width:100%;height:21px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" onclick="btnCancel_Onclick()" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*<table class="table table-hover" style="font-size:11px;" id="tblcustomer">
                        <tr style="height:40px;">
                            <td style="border:none;">Find</td>
                            <td colspan="4" style="border:none;"><input type="text" id="txtfind" /></td>
                        </tr>
                        <tr>
                            <th style="text-align: center; width: 5%; background-color: #e6e6ff; border:1px solid silver;">#</th>
                            <th style="text-align: center; width: 20%; background-color: #e6e6ff; border: 1px solid silver;">Customer Code</th>
                            <th style="text-align: center; width: 45%; background-color: #e6e6ff; border: 1px solid silver;">Customer Name</th>
                            <th style="text-align: center; width: 45%; background-color: #e6e6ff; border: 1px solid silver;">Contact Name</th>
                            <th style="text-align: center; width: 15%; background-color: #e6e6ff; border: 1px solid silver;">Phone</th>
                            <th style="text-align: center; width: 15%; background-color: #e6e6ff; border: 1px solid silver;">Status</th>
                        </tr>
                    </table>*@
                </div>
            </div>
        </div>
    </div>
    <div class="styleContact">
        <div class="styleSubContact">
            @*<h1>Customer</h1>*@
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">User Control</h5>
            </div>
            <div class="styleMain">
                @*Document Header*@
                <div style="width:50%;height:110px;background-color:none;padding-top:15px;padding-left:30px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:137px;padding-left:20px;padding-top:5px">User Code</label></td>
                            <td>
                                <input type="text" id="txtUserCode" name="BPMasterData.UserCode" style="width:390px;" />
                            </td>
                        </tr>
                        <tr>
                            <td><label style="width:130px;padding-left:20px;padding-top:5px">User Name</label></td>
                            <td colspan="2"><input type="text" id="txtUserName" value="" name="BPMasterData.UserName" style="width:390px;" /></td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:20px;padding-top:5px">Position</label></td>
                            <td colspan="2"><input type="text" id="txtPosition" value="" name="BPMasterData.Position" style="width:390px;" /> </td>
                        </tr>
                    </table>
                </div>
                @*Document Detail*@
                <div style="width:99%;height:390px;background-color:WhiteSmoke;padding-top:10px;padding-left:15px;overflow:auto;">
                    <div style="margin-top:5px;">
                        <h5 style="padding-left:0px;">User Detail</h5>
                    </div>
                    <div style="padding-top:15px;padding-left:20px;width:100%;height:340px;border:1px solid silver;">
                        <div style="width:48%;height:320px;background-color:none;padding-top:1px;padding-left:4px;float:left;">
                            <table class="tablenoborder table-hover">
                                <tr>
                                    <td><label style="padding-left:10%;width:130px;padding-top:5px">Employee</label></td>
                                    <td>
                                        <select id="cboEmployee" name="UserControl.Employee" style="height:21px ;width:390px">
                                            <option value="BP_Employee"> </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="padding-left:10%;width:130px;padding-top:5px">Branch</label></td>
                                    <td>
                                        <select id="cboBranch" name="UserControl.Branch" style="height:21px ;width:390px">
                                            <option value="UserControl.Main">Main</option>
                                            <option value="UserControl.None">Define New</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="padding-left:10%;width:130px;padding-top:5px">Department</label></td>
                                    <td>
                                        <select id="cboDepartment" name="UserControl.Department" style="height:21px ;width:390px">
                                            <option value="BP_None"> </option>
                                            <option value="BP_General">General</option>
                                            <option value="BP_BusinessDevelopment">Business Development</option>
                                            <option value="BP_HeadOffice">Head Office</option>
                                            <option value="BP_HumanResource">Human Resource</option>
                                            <option value="BP_IT">IT</option>
                                            <option value="BP_FinanceAccount">Finance and Account</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="padding-left:10%;width:130px;padding-top:5px">Group</label></td>
                                    <td>
                                        <select id="cboGroup" name="UserControl.Group" style="height:21px ;width:390px">
                                            <option value="BP_None"> </option>
                                            <option value="BP_Finance">Finance</option>
                                            <option value="BP_Sales">Sales</option>
                                            <option value="BP_Purchase">Purchase</option>
                                            <option value="BP_Inventory">Inventory</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <div style="width:100%;height:200px;background-color:WhiteSmoke;padding-top:5px;padding-left:12px;overflow:auto;">
                                <div style="margin-top:5px;">
                                    <h5 style="padding-left:0px;font-size:14px;">Change Password</h5>
                                </div>
                                <div style="padding-top:1px;width:100%;height:145px;border:1px solid silver;">
                                    <div style="width:100%;height:110px;background-color:none;padding-top:15px;padding-left:4px;float:left;">
                                        <table class="tablenoborder table-hover">
                                            <tr>
                                                <td><label style="width:115px;padding-left:20px;padding-top:5px">Password</label></td>
                                                <td style="width:300px"><input type="text" id="password" value="****" name="Password.password" style="width:100%;font-size:16px;height:22px" readonly disabled /></td>
                                                <td style="padding-left:5px;width:120px">
                                                    <input type="button" id="btnChage" value="Change" style="width:50%;height:21px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite"data-toggle="modal" data-target="#customerlist"/>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="tablenoborder table-hover">
                                            <tr>
                                                @*<td style="width:70%;"></td>*@
                                                <td style="text-align:right;width:5%;padding-left:11px;padding-top:20px;"><input type="checkbox" id="Locked"/></td>
                                                <td style="width:35%;padding-top:23px;padding-left:5px"><label>Locked</label></td>
                                            </tr>
                                        </table>
                                        <table class="tablenoborder table-hover">
                                            <tr>
                                                @*<td style="width:70%;"></td>*@
                                                <td style="text-align:right;width:5%;padding-left:0px;padding-top:1px;"><input type="checkbox" id="ChageNextLogin"/></td>
                                                <td style="width:35%;padding-top:4px;padding-left:5px"><label>Change Password at Next Login</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Control Buttons*@
                <div class="styleBarButtom">
                    <div style="padding-top:0px;padding-left:5px;width:100%">
                        <table class="tablenoborder table-hover" style="width:100%;">
                            <tr>
                                <td style="text-align:left;width:2%;"></td>
                                <td style="text-align:left;width:8%;"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                                <td style="text-align:left;width:2%"></td>
                                <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                                <td style="text-align:left;width:2%"></td>
                                <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                                <td style="text-align:left;width:70%"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

