﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">Item Master Data</h5>
            </div>
            <div class="styleMain">
                <div style="width:50%;height:123px;background-color:none;padding-top:10px;padding-left:4px;float:left;">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:20%;padding-left:10px;padding-top:5px;"><label>Item Code</label></td>
                            <td style="width:40%;"><input type="text" id="txtItemCode" style="border:none;width:100%;" maxlength="20" /></td>
                            <td style="width:20%;"></td>
                            <td style="width:20%;"></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;width:20%;padding-left:10px;padding-top:-20px;"><label>Description</label></td>
                            <td style="width:40%;" colspan="2">
                                <textarea id="itemName" rows="2" style="width:100%;resize:none;border:0px solid silver;"></textarea>
                            </td>
                            <td style="width:20%;"></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;width:20%;padding-left:10px;padding-top:-20px;"><label>Foreign Name</label></td>
                            <td style="width:40%;" colspan="2">
                                <textarea id="itemName" rows="2" style="width:100%;resize:none;border:0px solid silver;"></textarea>
                            </td>
                            <td style="width:20%;"></td>
                        </tr>
                    </table>
                </div>
                <div style="width:45%;height:123px;background-color:none;padding-top:10px;padding-left:4px;float:left;margin-left:35px;">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="width:70%;"></td>
                            <td style="text-align:right;width:5%;padding-right:10px;padding-top:2px;"><input type="checkbox" id="inventoryItem" /></td>
                            <td style="width:25%;padding-top:5px;"><label>Inventory Item</label></td>
                        </tr>
                        <tr>
                            <td style="width:70%;"></td>
                            <td style="text-align:right;width:5%;padding-right:10px;padding-top:2px;"><input type="checkbox" id="inventoryItem" /></td>
                            <td style="width:25%;padding-top:5px;"><label>Sale Item</label></td>
                        </tr>
                        <tr>
                            <td style="width:70%;"></td>
                            <td style="text-align:right;width:5%;padding-right:10px;padding-top:2px;"><input type="checkbox" id="inventoryItem" /></td>
                            <td style="width:25%;padding-top:5px;"><label>Purchase Items</label></td>
                        </tr>
                    </table>
                </div>
                <div style="width:99%;height:380px;background-color:lightblue;padding-top:10px;padding-left:0px;overflow:auto;margin-left:1px;">

                </div>
            </div>
            <div class="styleBarButtom">
                <div style="padding-top:5px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:70%"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
</body>

