﻿
@{
    ViewBag.Title = "OutgoingIndex"; 
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script>
        $(document).ready(function () {
            //alert("he");
            //$("#txtBirthday").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date()).val();
            //$("#txtdocumentdate").datepicker({ dateFormat: "dd-mm-yy" }).datepicker("setDate", new Date());
        });
        //function loadcustomer() {
        //    $("#customerlist").modal("show");
        //}
    </script>

    <style>
    </style>
}

<body>
    @*Customer List*@
    <div class="modal fade" id="customerlist" role="dialog">
        <div class="modal-dialog modal-lg" id="dvmodal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Payment Means</h4>
                </div>
                <div class="modal-body" style="height:500px;overflow:auto;padding-top:2px;">
                    @*design tab of payment means*@
                </div>
            </div>
        </div>
    </div>
    @*Payment Means*@
    <div class="modal fade" id="paymentmeans" role="dialog">
        <div class="modal-dialog modal-lg" id="dvmodal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Payment Means</h4>
                </div>
                <div class="modal-body" style="height:500px;overflow:auto;padding-top:2px;">
                    @*design tab of payment means*@
                </div>
            </div>
        </div>
    </div>
    @*List of Account*@
    <div class="modal fade" id="accountlist" role="dialog">
        <div class="modal-dialog modal-lg" id="dvmodal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">List of Accounts</h4>
                </div>
                <div class="modal-body" style="height:500px;overflow:auto;padding-top:2px;">
                    @*design tab of payment means*@
                </div>
            </div>
        </div>
    </div>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">Outgoing Payment</h5>
            </div>
            @*Document Header*@
            <div class="styleMain">
                <div style="width:50%;height:100px;background-color:none;padding-top:15px;padding-left:10px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:130px;padding-left:20px;padding-top:5px">Business Partner</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                            <td style='float:right;padding-top:3px'><img src='../Image/customer.png' id="customer" style='width:20px;height:20px;cursor:pointer' name='customer' data-toggle="modal" data-target="#customerlist" /></td>
                        </tr>
                        <tr>
                            <td><label style="width:130px;padding-left:20px;padding-top:5px">Name</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:48%;height:100px;background-color:none;padding-top:15px;padding-left:110px;float:left;">
                    <table>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Doc. No.</label></td>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:300px" disabled /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Posting Date</label></td>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:300px" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Document Date</label></td>
                            <td><input type="text" id="txtTaxDate" data-provide="datepicker" value="" name="GoodsReceipt.TaxDate" style="width:300px" onclick="onchange()" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Doc Ref.</label></td>
                            <td><input type="text" id="txtDocRef" value="" name="GoodsReceipt.DocRef" style="width:300px" /> </td>
                        </tr>
                        @*<tr style="height:20px"></tr>*@
                    </table>
                </div>
                <div style="width:100%;height:300px;background-color:WhiteSmoke;padding-left:30px;overflow:auto;">
                    <div style="margin-top:5px;">
                        <h5 style="padding-left:0px;font-size:16px;">Contents</h5>
                    </div>
                    <div style="padding-top:1px;width:98%;height:250px;border:1px solid silver;padding-left:1px">
                        <table class="table table-hover" style="font-size:11px;height:20px;width:100%;" id="tblcustomer">
                            <tr>
                                <th style="text-align: center; width: 3%;  background-color: #e6e6ff; border:1px solid silver;">#</th>
                                <th style="text-align: center; width: 5%; background-color: #e6e6ff; border: 1px solid silver;">Seleccted</th>
                                <th style="text-align: center; width: 10%; background-color: #e6e6ff; border: 1px solid silver;">Document No.</th>
                                <th style="text-align: center; width: 10%; background-color: #e6e6ff; border: 1px solid silver;">Document Type</th>
                                <th style="text-align: center; width: 9%; background-color: #e6e6ff; border: 1px solid silver;">Total</th>
                                <th style="text-align: center; width: 9%; background-color: #e6e6ff; border: 1px solid silver;">Balance Due</th>
                                <th style="text-align: center; width: 10%; background-color: #e6e6ff; border: 1px solid silver;">Total Payment</th>
                                <th style="text-align: center; width: 10%; background-color: #e6e6ff; border: 1px solid silver;">Cash Discount %</th>
                                <th style="text-align: center; width: 15%; background-color: #e6e6ff; border: 1px solid silver;">Remark</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width:50%;height:30px;background-color:none;padding-top:1px;padding-left:4px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:100px;padding-left:23px;padding-top:5px">Remark</label></td>
                            <td>
                                <input type="text" id="txtNumber" name="BPMasterData.Number" style="width:300px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:48%;height:30px;background-color:none;padding-top:1px;padding-left:110px;float:left;">
                    <table>
                        <tr>
                            <td><label style="padding-left:50%;width:250px;padding-top:5px">Total Amount Due</label></td>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:160px" /> </td>
                            <td style='float:right;padding-top:0px'><img src='../Image/Payment.png' id="customer" style='width:27px;height:27px;cursor:pointer' name='customer' data-toggle="modal" data-target="#paymentmeans" /></td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:50%;width:250px;padding-top:5px">Account</label></td>
                            <td><input type="text" id="txtDocDate" data-provide="datepicker" value="" name="GoodsReceipt.DocDate" style="width:160px" /> </td>
                            <td style='float:right;padding-top:0px'><img src='../Image/Account.png' id="customer" style='width:27px;height:27px;cursor:pointer' name='customer' data-toggle="modal" data-target="#accountlist" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            @*Control Buttons*@
            <div class="styleBarButtom">
                <div style="padding-top:0px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:2%;"></td>
                            <td style="text-align:left;width:8%;"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:70%"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>