﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">Item Master Data</h5>
            </div>
            <div class="styleMain">
                @*Document Header*@
                <div style="width:70%;height:150px;background-color:none;padding-top:15px;padding-left:30px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:137px;padding-left:20px;padding-top:5px">Item Code</label></td>
                            <td>
                                <input type="text" id="txtUserCode" name="BPMasterData.UserCode" style="width:350px;" />
                            </td>
                        </tr>
                        <tr>
                            <td><label style="width:130px;padding-left:20px;padding-top:5px">Description</label></td>
                            <td colspan="2"><input type="text" id="txtUserName" value="" name="BPMasterData.UserName" style="width:690px;" /></td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:20px;padding-top:5px">Foreign Name</label></td>
                            <td colspan="2"><input type="text" id="txtPosition" value="" name="BPMasterData.Position" style="width:690px;" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:15%;width:130px;padding-top:5px">Item Group</label></td>
                            <td style="width:370px">
                                <select id="cboGroup" name="BPMasterData.Group" style="height:24px ;width:350px">
                                    <option value="BP_Employee"></option>
                                    <option value="BP_Government">None</option>
                                </select>
                            </td>
                            <td colspan="2" style="width:20px">
                                <label style="padding-left:1%;width:130px;padding-top:5px">UOM Group</label>
                                <select id="cboGroup" name="BPMasterData.Group" style="height:24px ;width:186px">
                                    <option value="BP_Employee"></option>
                                    <option value="BP_Government">None</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:15%;width:130px;padding-top:5px">Item Type</label></td>
                            <td style="width:370px">
                                <select id="cboGroup" name="BPMasterData.Group" style="height:24px ;width:350px">
                                    <option value="BP_Employee"></option>
                                    <option value="BP_Government">Manual</option>
                                </select>
                            </td>
                            <td colspan="2" style="width:20px">
                                <label style="padding-left:1%;width:130px;padding-top:5px">Base Price</label>
                                <input type="text" id="baseprice" value="" style="height:24px ;width:186px" />
                            </td>
                            <td colspan="2" style="padding-left:1px">
                                <select id="cboGroup" name="BPMasterData.Group" style="height:24px ;width:86px">
                                    <option value="BP_Employee">USD</option>
                                    <option value="BP_Government">KHR</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:20%;height:90px;background-color:WhiteSmoke;padding-top:10px;padding-left:4px;float:left;margin-left:70px;">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="width:50%;"></td>
                            <td style="text-align:right;width:5%;padding-right:10px;padding-top:2px;"><input type="checkbox" id="inventoryItem" /></td>
                            <td style="width:60%;padding-top:5px;"><label>Inventory Item</label></td>
                        </tr>
                        <tr>
                            <td style="width:30%;"></td>
                            <td style="text-align:right;width:5%;padding-right:10px;padding-top:2px;"><input type="checkbox" id="inventoryItem" /></td>
                            <td style="width:60%;padding-top:5px;"><label>Sale Item</label></td>
                        </tr>
                        <tr>
                            <td style="width:30%;"></td>
                            <td style="text-align:right;width:5%;padding-right:10px;padding-top:2px;"><input type="checkbox" id="inventoryItem" /></td>
                            <td style="width:60%;padding-top:5px;"><label>Purchase Items</label></td>
                        </tr>
                    </table>
                </div>
                @*Item Master Data Detail*@
                <div style="width:99%;height:390px;background-color:WhiteSmoke;padding-top:1px;padding-left:15px;overflow:auto;">
                    <div style="margin-top:5px;">
                        <h5 style="padding-left:0px;">Item Master Data Detail</h5>
                    </div>
                    <div style="padding-top:15px;padding-left:20px;width:100%;height:300px;border:1px solid silver;">
                        <div style="width:48%;height:280px;background-color:none;padding-top:1px;padding-left:4px;float:left;">
                            <fieldset style="width:95%;">
                                <legend style="padding-top:1px; font-size:16px;">General</legend>
                                <table class="tablenoborder table-hover">
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:1px">Brand</label></td>
                                        <td><input type="text" id="txtBrand" value="" name="BPMasterData.Brand" style="width:230%;" /> </td>
                                    </tr>
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:5px">Manage Item By</label></td>
                                        <td>
                                            <select id="cboGroup" name="BPMasterData.Group" style="height:24px ;width:230%;">
                                                <option value="BP_Employee">None</option>
                                                <option value="BP_Government">Serial Numbers</option>
                                                <option value="BP_Government">Batches</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="width:100%; height:20px"></tr>
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:5px">Factor 1</label></td>
                                        <td><input type="text" id="txtFactor1" value="" name="BPMasterData.Factor1" style="width:230%;" /> </td>
                                    </tr>
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:5px">Factor 2</label></td>
                                        <td><input type="text" id="txtFactor2" value="" name="BPMasterData.Factor2" style="width:230%;" /> </td>
                                    </tr>
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:5px">Factor 3</label></td>
                                        <td><input type="text" id="txtFactor3" value="" name="BPMasterData.Factor3" style="width:230%;" /> </td>
                                    </tr>
                                    <tr>
                                        <td style="width:130px;padding-left:20px;padding-top:20px">
                                            <input type="radio" id="IsActive" name="ch" value="Active" />
                                            <label>Active</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:130px;padding-left:20px;padding-top:1px">
                                            <input type="radio" id="IsActive" name="ch" value="InActive" />
                                            <label>Inactive</label>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div style="width:50%;height:280px;background-color:none;padding-top:1px;padding-left:4px;float:left;">
                            <fieldset style="width:98%;">
                                <legend style="padding-top:1px; font-size:16px;"> Address</legend>
                                <div style="width:95%;height:220px;background-color:none;margin-left:30px;margin-top:1px;border:1px solid silver;">
                                    <table class="table table-hover" style="font-size:11px;height:20px" id="tblcustomer">
                                        <tr>
                                            <th style="text-align: center; width: 5%; background-color: #e6e6ff; border:1px solid silver;">#</th>
                                            <th style="text-align: center; width: 12%; background-color: #e6e6ff; border: 1px solid silver;">Whse Code</th>
                                            <th style="text-align: center; width: 40%; background-color: #e6e6ff; border: 1px solid silver;">Whse Name</th>
                                            <th style="text-align: center; width: 12%; background-color: #e6e6ff; border: 1px solid silver;">In Stock</th>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            @*Control Buttons*@
            <div class="styleBarButtom">
                <div style="padding-top:0px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:2%;"></td>
                            <td style="text-align:left;width:8%;"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                            <td style="text-align:left;width:70%"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

