﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            @*<h1>Customer</h1>*@
            <div class="styleHeader" style="border-bottom:1px solid silver;border-radius: 6px;">
                <h5 style="padding-top:5px;padding-left:5px;">Business Partner Master Data</h5>
            </div>
            <div class="styleMain">
                @*Document Header*@
                <div style="width:50%;height:110px;background-color:none;padding-top:15px;padding-left:4px;float:left;">
                    <table class="tablenoborder table-hover;">
                        <tr>
                            <td><label style="width:130px;padding-left:20px;padding-top:5px">Code</label></td>
                            <td>
                                <input type="text" id="txtCardCode" name="BPMasterData.CardCode" style="width:308px;" />
                            </td>
                            <td style="padding-left:5px;width:120px">
                                <select id="cboBP" name="BPMasterData.typeBP" style="height:23px;">
                                    <option value="BP_Customer">Customer</option>
                                    <option value="BP_Vender">Vender</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label style="width:130px;padding-left:20px;padding-top:5px">Name</label></td>
                            <td colspan="2"><input type="text" id="txtName" value="" name="BPMasterData.CardName" style="width:390px;" /></td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:20px;padding-top:5px">Foreign Name</label></td>
                            <td colspan="2"><input type="text" id="txtForName" value="" name="BPMasterData.ForName" style="width:390px;" /> </td>
                        </tr>
                    </table>
                </div>
                <div style="width:48%;height:110px;background-color:none;padding-top:15px;padding-left:4px;float:left;">
                    <table class="tablenoborder table-hover">
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Group</label></td>
                            <td>
                                <select id="cboGroup" name="BPMasterData.Group" style="height:21px ;width:390px">
                                    <option value="BP_Employee">Employee</option>
                                    <option value="BP_Government">Government</option>
                                    <option value="BP_Local">Local</option>
                                    <option value="BP_NGO">NGO</option>
                                    <option value="BP_Oversea">Oversea</option>
                                    <option value="BP_PrivateInvestor">Private/Investor</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">Alias Name</label></td>
                            <td><input type="text" id="txtAliasName" value="" name="BPMasterData.AliasName" style="width:390px" /> </td>
                        </tr>
                        <tr>
                            <td><label style="padding-left:10%;width:130px;padding-top:5px">VAT Id</label></td>
                            <td><input type="text" id="txtVatID" value="" name="BPMasterData.VatID" style="width:390px" /> </td>
                        </tr>
                    </table>
                </div>
                @*Document Detail*@
                <div style="width:99%;height:390px;background-color:WhiteSmoke;padding-top:10px;padding-left:15px;overflow:auto;">
                    <div style="margin-top:5px;">
                        <h5 style="padding-left:0px;">BP Master Data Detail</h5>
                    </div>
                    <div style="padding-top:15px;padding-left:20px;width:100%;height:340px;border:1px solid silver;">
                        <div style="width:48%;height:320px;background-color:none;padding-top:1px;padding-left:4px;float:left;">
                            <fieldset style="width:98%;">
                                <legend style="padding-top:1px; font-size:16px;">Contact</legend>
                                <table class="tablenoborder table-hover">
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:5px">Telephone</label></td>
                                        <td><input type="text" id="txtTelephone" value="" name="BPMasterData.Telephone" style="width:250%;" /> </td>
                                    </tr>
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:5px">Mobile Phone</label></td>
                                        <td><input type="text" id="txtMobilePhone" value="" name="BPMasterData.MobilePhone" style="width:250%;" /> </td>
                                    </tr>
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:5px">E-mail</label></td>
                                        <td><input type="text" id="txtEmail" value="" name="BPMasterData.Email" style="width:250%;" /> </td>
                                    </tr>
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;padding-top:5px">Website</label></td>
                                        <td><input type="text" id="txtWebsite" value="" name="BPMasterData.Website" style="width:250%;" /> </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <fieldset style="width:98%;">
                                <legend style="padding-top:20px; font-size:16px;"> Address</legend>
                                <table class="tablenoborder table-hover">
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;">Ship To</label></td>
                                        <td colspan="2">
                                            <textarea id="itemName" rows="2" style="width:262%;resize:none;border:1px solid silver;"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label style="width:130px;padding-left:20px;">Bill To</label></td>
                                        <td colspan="2">
                                            <textarea id="itemName" rows="2" style="width:262%;resize:none;border:1px solid silver;"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div style="width:50%;height:320px;background-color:none;padding-top:45px;padding-left:4px;float:left;">
                            <table class="tablenoborder table-hover">
                                <tr>
                                    <td><label style="width:150px;padding-left:30px;padding-top:5px">Payment Term</label></td>
                                    <td>
                                        <select id="cboGroup" name="BPMasterData.Group" style="height:21px ;width:270%;">
                                            <option value="BP_Employee">None</option>
                                            <option value="BP_Government"> </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width:150px;padding-left:30px;padding-top:0px">Remark</label></td>
                                    <td colspan="2">
                                        <textarea id="remark" rows="2" style="width:270%;resize:none;border:1px solid silver;"></textarea>
                                    </td>
                                </tr>
                            </table>
                            <div style="width:100%;height:200px;background-color:WhiteSmoke;padding-top:5px;padding-left:30px;overflow:auto;">
                                <div style="margin-top:5px;">
                                    <h5 style="padding-left:0px;font-size:16px;">Contact Person</h5>
                                </div>
                                <div style="padding-top:1px;width:100%;height:145px;border:1px solid silver;">
                                    <div style="width:48%;height:110px;background-color:none;padding-top:15px;padding-left:4px;float:left;">
                                        <table class="tablenoborder table-hover">
                                            <tr>
                                                <td><label style="width:100px;padding-left:20px;padding-top:5px">Name</label></td>
                                                <td><input type="text" id="name" value="" name="Contact.name" style="width:100%;" /> </td>
                                            </tr>
                                            <tr>
                                                <td><label style="width:100px;padding-left:20px;padding-top:5px">Telephone</label></td>
                                                <td><input type="text" id="telephone" value="" name="Contact.telephone" style="width:100%;" /> </td>
                                            </tr>
                                            <tr>
                                                <td><label style="width:100px;padding-left:20px;padding-top:5px">Remark</label></td>
                                                <td><input type="text" id="remark" value="" name="Contact.remark" style="width:100%;" /> </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="width:48%;height:110px;background-color:none;padding-top:15px;padding-left:4px;float:left;">
                                        <table class="tablenoborder table-hover">
                                            <tr>
                                                <td><label style="width:100px;padding-left:20px;padding-top:5px">Gender</label></td>
                                                <td>
                                                    <select id="cboGender" name="Contact.Gender" style="height:21px ;width:100%;">
                                                        <option value="Contact.Male">Male</option>
                                                        <option value="Contact.Female">Female</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label style="width:100px;padding-left:20px;padding-top:5px">Address</label></td>
                                                <td><input type="text" id="address" value="" name="Contact.address" style="width:100%;" /> </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;width:2%"></td>
                                                <td style="text-align:left;width:8%"><input type="button" id="btnNew" value="New" style="width:50%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Control Buttons*@
                <div class="styleBarButtom">
                    <div style="padding-top:0px;padding-left:5px;width:100%">
                        <table class="tablenoborder table-hover" style="width:100%;">
                            <tr>
                                <td style="text-align:left;width:2%;"></td>
                                <td style="text-align:left;width:8%;"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                                <td style="text-align:left;width:2%"></td>
                                <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                                <td style="text-align:left;width:2%"></td>
                                <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:1px solid Teal; border-radius:5px;background-color:NavajoWhite" /></td>
                                <td style="text-align:left;width:70%"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

