﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">Authourization</h5>
            </div>
            <div class="styleMain">
                <div style="width:100%;height:40px;background-color:none;padding-top:10px;padding-left:4px;">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="width:10%;text-align:right;padding-top:5px;padding-right:20px;"><label>Username</label></td>
                            <td style="width:20%;text-align:left;">
                                <select style="width:100%;border:0px solid silver;">
                                    <option value="user1">user1</option>
                                    <option value="user1">user1</option>
                                    <option value="user1">user1</option>
                                </select>
                            </td>
                            <td style="width:70%;"></td>
                        </tr>
                    </table>
                </div>
                <div style="width:80%;height:400px;background-color:none;margin-left:50px;margin-top:20px;border:1px solid silver;">
                    <table style="font-size:13px;width:100%;border:1px solid silver;border-collapse: collapse;" id="tblDatabaseName">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 40%;border:1px solid silver;background-color:beige;">Function</th>
                                <th style="text-align: center; width: 15%;border:1px solid silver;background-color:beige;">Adding</th>
                                <th style="text-align: center; width: 15%;border:1px solid silver;background-color:beige;">Updating</th>
                                <th style="text-align: center; width: 15%;border:1px solid silver;background-color:beige;">Deleting</th>
                                <th style="text-align: center; width: 15%;border:1px solid silver;background-color:beige;">Report</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="styleBarButtom">
                <div style="padding-top:5px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnAdd" value="Update" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:70%"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
</body>

