﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Styles.Render("~/Content/jquery-ui.css")
<script>
    $(document).ready(function () {
        alert("he");
        $("#txtBirthday").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date()).val();
    });
</script>
    <style>
    </style>
}
<body>
    <div class="styleContact">
        <div class="styleSubContact">
            <div class="styleHeader">
                <h5 style="padding-top:5px;padding-left:5px;">User Control</h5>
            </div>
            <div class="styleMain">
                <div style="padding-top:15px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:right;width:8%;padding-right:20px;padding-top:5px;"><label>User Code</label></td>
                            <td style="width:17%;"><input type="text" id="txtUserCode" style="border:none;width:100%;" maxlength="8" /></td>
                            <td style="text-align:right;width:12%;padding-right:20px;padding-top:5px;"><label>User Name</label></td>
                            <td style="width:17%;"><input type="text" id="txtUserName" style="border:none;width:100%;" maxlength="20" /></td>
                            <td style="text-align:right;width:12%;padding-right:20px;padding-top:5px;"><label>Password</label></td>
                            <td style="width:17%;"><input type="password" id="txtPwd" style="border:none;width:100%;" maxlength="8" /></td>
                            <td style="width:21%;"></td>
                        </tr>
                    </table>
                </div>
                <div style="margin-top:25px;">
                    <h5 style="padding-left:130px;">User Detail</h5>
                </div>
                <center>
                    <div style="padding-top:10px;padding-left:-30px;width:80%;height:300px;border:1px solid silver;">
                        <table class="tablenoborder table-hover" style="width:100%;">
                            <tr>
                                <td style="text-align:right;width:8%;padding-right:20px;padding-top:5px;"><label>First Name</label></td>
                                <td style="width:17%;"><input type="text" id="txtUserCode" style="border:none;width:100%;" maxlength="20" /></td>
                                <td style="text-align:right;width:12%;padding-right:20px;padding-top:5px;"><label>Last Name</label></td>
                                <td style="width:17%;"><input type="text" id="txtUserName" style="border:none;width:100%;" maxlength="20" /></td>
                                <td style="width:21%;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:8%;padding-right:20px;padding-top:5px;"><label>Gender</label></td>
                                <td style="width:17%;">
                                    <select id="cboGender" style="border:none;width:100%;">
                                        <option value="female">Female</option>
                                        <option value="male">Male</option>
                                    </select>
                                </td>
                                <td style="text-align:right;width:12%;padding-right:20px;padding-top:5px;"><label>Birthday</label></td>
                                <td style="width:17%;">
                                    <input type="text" id="txtBirthday" style="border:none;width:100%;" data-provide="datepicker" readonly />
                                    <input type="text" id="txtdate" style="display:none" />
                                </td>
                                <td style="width:21%;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:8%;padding-right:20px;padding-top:5px;"><label>Department</label></td>
                                <td style="width:17%;"><input type="text" id="txtUserCode" style="border:none;width:100%;" maxlength="50" /></td>
                                <td style="text-align:right;width:12%;padding-right:20px;padding-top:5px;"><label>Branch</label></td>
                                <td style="width:17%;"><input type="text" id="txtUserName" style="border:none;width:100%;" maxlength="50" /></td>
                                <td style="width:21%;"></td>
                            </tr>
                        </table>
                    </div>
                </center>
            </div>
            <div class="styleBarButtom">
                <div style="padding-top:5px;padding-left:5px;width:100%">
                    <table class="tablenoborder table-hover" style="width:100%;">
                        <tr>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnAdd" value="Add" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnCancel" value="Cancal" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:2%"></td>
                            <td style="text-align:left;width:8%"><input type="button" id="btnFind" value="Find" style="width:100%;height:25px;border:none;" /></td>
                            <td style="text-align:left;width:70%"></td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
</body>

